header {
    background-color: seagreen;
    background-image: url(img/logo.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    height: 120px;
}

footer {
    padding: 1em;
    color: white;
    background-color: seagreen;
    clear: left;
    text-align: left;
}
   
body {

}

html{
    border-style: none;
    margin-left:50px;
    margin-right:50px;
    background-image: url('img/greenwich.jpg');
    background-size: cover;   
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}  

.topnav {
  overflow: hidden;
  background-color: #333;
    margin-bottom: 3px;
}


.dash {
    background-color: lightgrey;
    width: auto;
    border: 25px transparent;
    padding: 25px;
    margin: 25px;
    position: relative; 
    float: left;
}
////////////////////////////////////////
 table.commute {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.commute td, .commute th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.commute tr:hover { 
    background-color: darkseagreen;
}

.commute tr {
    background-color: beige;
}
////////////////////////////////////////
